/* some common style */ 
* /*{box-sizing: content-box;;
border: 1px solid red;}*/

.container {
    display: flex;
    justify-content: center;
    background: yellowgreen;

}

.container div {
    width: 20%;
   
}

img {height: 100%;
width: 100%;}

.container1 {
     width: 100%;
     height: 500px;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    align-content: space-between;
    background: lightseagreen;

}

.container1 div {
    width: 20%;
    height: 40%;
}

.ct {
background: salmon;
text-align: center;
text-decoration: limegreen;
font-family: cursive

}